У цьому домашньому завданні ми будемо працювати з набором даних Tips. Нижче інформація про нього.

**Про датасет:**

Tips - це датасет, який містить інформацію про рахунки та чайові в ресторані.

**Колонки датасету:**
- `total_bill` - загальна сума рахунку (долари)
- `tip` - розмір чайових (долари)
- `sex` - стать відвідувача (Male/Female)
- `smoker` - чи курить (Yes/No)
- `day` - день тижня (Thur/Fri/Sat/Sun)
- `time` - час відвідування (Lunch/Dinner)
- `size` - розмір групи (кількість людей)

**Джерело:** Оригінальні дані зібрані в одному з американських ресторанів у 1990-х роках. Скачати і переглянути набір даних можна тут: https://www.kaggle.com/datasets/sakshisatre/tips-dataset

А також ми вже вивантажили файл з даними і завантажили вам у Матеріали до цього модуля.




**1. Завантаження та огляд**

Завантажте датасет Tips (Чайові) з файла у матеріалах `tips.csv`.

Виведіть (кожен пункт оцінюється в 0.5 бала):
- Перші 5 рядків
- Розмір датасету (shape)
- Назви всіх колонок
- Інформацію про типи даних (info)

In [1]:
import pandas as pd

In [2]:
tips_dataset = pd.read_csv('tips.csv')

#Перші 5 рядків
print('Перші 5 рядків: ') 
display(tips_dataset.head(5))

# Розмір датасету (shape)
print('Розмір датасету: ', tips_dataset.shape)

# Назви всіх колонок
print('Назви колонок: ', list(tips_dataset.columns))

Перші 5 рядків:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Розмір датасету:  (244, 7)
Назви колонок:  ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [3]:
# Інформацію про типи даних (info)
tips_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

**2. Базова вибірка даних**

Виберіть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Колонку `total_bill` (загальний рахунок)
- Колонки `total_bill` та `tip` (чайові) разом
- Перші 10 рядків
- Рядок з індексом 5

In [4]:
#Колонку total_bill (загальний рахунок)
display('Значення колонки total_bill', pd.DataFrame(tips_dataset.total_bill))

'Значення колонки total_bill'

     total_bill
0         16.99
1         10.34
2         21.01
3         23.68
4         24.59
..          ...
239       29.03
240       27.18
241       22.67
242       17.82
243       18.78

[244 rows x 1 columns]

In [5]:
#Колонки total_bill та tip (чайові) разом
display('Значення колонок total_bill та tip: ', tips_dataset[['total_bill', 'tip']])

'Значення колонок total_bill та tip: '

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [6]:
# Перші 10 рядків
display('Перші 10 рядків: ', tips_dataset.head(10))

'Перші 10 рядків: '

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [7]:
# Рядок з індексом 5
display('Рядок з індексом 5: ', pd.DataFrame(tips_dataset.loc[5]).T)

'Рядок з індексом 5: '

  total_bill   tip   sex smoker  day    time size
5      25.29  4.71  Male     No  Sun  Dinner    4

**3. Фільтрація даних**

Відфільтруйте та виведіть (кожен пункт оцінюється в 0.5 бала):
- Всі рахунки більше 20 доларів (`total_bill > 20`)
- Всі відвідувачі-жінки (`sex == 'Female'`)
- Рахунки на вечерю (`time == 'Dinner'`)
- Рахунки на вечерю більше 30 доларів

In [8]:
# Всі рахунки більше 20 доларів (total_bill > 20)
display('Всі рахунки більше 20 доларів: ', tips_dataset[tips_dataset['total_bill'] > 20])

'Всі рахунки більше 20 доларів: '

     total_bill   tip     sex smoker  day    time  size
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
7         26.88  3.12    Male     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
237       32.83  1.17    Male    Yes  Sat  Dinner     2
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2

[97 rows x 7 columns]

In [9]:
# Всі відвідувачі-жінки (sex == 'Female')
display('Всі відвідувачі-жінки: ', tips_dataset[tips_dataset['sex'] == 'Female'])

'Всі відвідувачі-жінки: '

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

In [10]:
# Рахунки на вечерю (time == 'Dinner')
display('Рахунки на вечерю: ', tips_dataset[tips_dataset['time'] == 'Dinner'])

'Рахунки на вечерю: '

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[176 rows x 7 columns]

In [11]:
# Рахунки на вечерю більше 30 доларів
display('Рахунки на вечерю: ', tips_dataset[(tips_dataset['time'] == 'Dinner') & (tips_dataset['total_bill'] > 30)])

'Рахунки на вечерю: '

     total_bill    tip     sex smoker  day    time  size
11        35.26   5.00  Female     No  Sun  Dinner     4
23        39.42   7.58    Male     No  Sat  Dinner     4
39        31.27   5.00    Male     No  Sat  Dinner     3
44        30.40   5.60    Male     No  Sun  Dinner     4
47        32.40   6.00    Male     No  Sun  Dinner     4
52        34.81   5.20  Female     No  Sun  Dinner     4
56        38.01   3.00    Male    Yes  Sat  Dinner     4
59        48.27   6.73    Male     No  Sat  Dinner     4
95        40.17   4.73    Male    Yes  Fri  Dinner     4
102       44.30   2.50  Female    Yes  Sat  Dinner     3
112       38.07   4.00    Male     No  Sun  Dinner     3
156       48.17   5.00    Male     No  Sun  Dinner     6
167       31.71   4.50    Male     No  Sun  Dinner     4
170       50.81  10.00    Male    Yes  Sat  Dinner     3
173       31.85   3.18    Male    Yes  Sun  Dinner     2
175       32.90   3.11    Male    Yes  Sun  Dinner     2
179       34.63   3.55    Male    Yes  Sun  Dinner     2
180       34.65   3.68    Male    Yes  Sun  Dinner     4
182       45.35   3.50    Male    Yes  Sun  Dinner     3
184       40.55   3.00    Male    Yes  Sun  Dinner     2
187       30.46   2.00    Male    Yes  Sun  Dinner     5
207       38.73   3.00    Male    Yes  Sat  Dinner     4
210       30.06   2.00    Male    Yes  Sat  Dinner     3
212       48.33   9.00    Male     No  Sat  Dinner     4
219       30.14   3.09  Female    Yes  Sat  Dinner     4
237       32.83   1.17    Male    Yes  Sat  Dinner     2
238       35.83   4.67  Female     No  Sat  Dinner     3

---

**4. Статистика**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній розмір рахунку на всьому наборі даних
- Максимальні чайові
- Кількість пропущених значень у всіх колонках
- Скільки відвідувачів обідали, скільки вечеряли

In [12]:
# Середній розмір рахунку на всьому наборі даних
print('Середній розмір рахунку: ', tips_dataset.total_bill.mean().round(2))

# Максимальні чайові
print('Максимальні чайові: ', tips_dataset.tip.max())

Середній розмір рахунку:  19.79
Максимальні чайові:  10.0

In [13]:
# Кількість пропущених значень у всіх колонках
display('Кількість пропущених значень: ', tips_dataset.isna().sum())

'Кількість пропущених значень: '

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [14]:
# Скільки відвідувачів обідали, скільки вечеряли
display(tips_dataset.time.value_counts())

time
Dinner    176
Lunch      68
Name: count, dtype: int64

---

**5. Групування**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній рахунок за статтю (groupby `sex`)
- Середні чайові за днем тижня (groupby `day`)
- Скільки відвідувачів у кожен день

In [15]:
# Середній рахунок за статтю (groupby sex)
display('Середній рахунок за статтю', tips_dataset.groupby('sex').agg({'total_bill': 'mean'}))
print()

# Середні чайові за днем тижня (groupby day)
display('Середні чайові за днем тижня', tips_dataset.groupby('day').agg({'tip': 'mean'}))
print()

# Скільки відвідувачів у кожен день
display('К-ть відвідувачів у кожен день', tips_dataset.day.value_counts())

'Середній рахунок за статтю'

        total_bill
sex
Female   18.056897
Male     20.744076

'Середні чайові за днем тижня'

           tip
day
Fri   2.734737
Sat   2.993103
Sun   3.255132
Thur  2.771452

'К-ть відвідувачів у кожен день'

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

---

**6. Створення нової колонки**

Створіть нову колонку `tip_percentage` - відсоток чайових від загальної суми рахунку.
Виведіть перші 10 рядків з новою колонкою.

In [16]:
tips_dataset['tip_percentage'] = (tips_dataset['tip'] / tips_dataset['total_bill']).apply(lambda x: f"{x * 100:.1f}%")
tips_dataset.head(10)

   total_bill   tip     sex smoker  day    time  size tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2           5.9%
1       10.34  1.66    Male     No  Sun  Dinner     3          16.1%
2       21.01  3.50    Male     No  Sun  Dinner     3          16.7%
3       23.68  3.31    Male     No  Sun  Dinner     2          14.0%
4       24.59  3.61  Female     No  Sun  Dinner     4          14.7%
5       25.29  4.71    Male     No  Sun  Dinner     4          18.6%
6        8.77  2.00    Male     No  Sun  Dinner     2          22.8%
7       26.88  3.12    Male     No  Sun  Dinner     4          11.6%
8       15.04  1.96    Male     No  Sun  Dinner     2          13.0%
9       14.78  3.23    Male     No  Sun  Dinner     2          21.9%

---

**7. Сортування**

Відсортуйте датасет і виведіть результат сортування в кожному випадку окремо (кожен пункт оцінюється в 0.5 бала):
- За розміром рахунку (зростання)
- За чайовими (спадання)

Додатково виведіть топ-5 найбільших чайових використовуючи метод `nlargest`.

In [17]:
# За розміром рахунку (зростання)
tips_dataset.sort_values('total_bill')

     total_bill    tip     sex smoker   day    time  size tip_percentage
67         3.07   1.00  Female    Yes   Sat  Dinner     1          32.6%
92         5.75   1.00  Female    Yes   Fri  Dinner     2          17.4%
111        7.25   1.00  Female     No   Sat  Dinner     1          13.8%
172        7.25   5.15    Male    Yes   Sun  Dinner     2          71.0%
149        7.51   2.00    Male     No  Thur   Lunch     2          26.6%
..          ...    ...     ...    ...   ...     ...   ...            ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3           7.7%
156       48.17   5.00    Male     No   Sun  Dinner     6          10.4%
59        48.27   6.73    Male     No   Sat  Dinner     4          13.9%
212       48.33   9.00    Male     No   Sat  Dinner     4          18.6%
170       50.81  10.00    Male    Yes   Sat  Dinner     3          19.7%

[244 rows x 8 columns]

In [18]:
# За чайовими (спадання)
tips_dataset.sort_values('tip', ascending=False)

     total_bill    tip     sex smoker   day    time  size tip_percentage
170       50.81  10.00    Male    Yes   Sat  Dinner     3          19.7%
212       48.33   9.00    Male     No   Sat  Dinner     4          18.6%
23        39.42   7.58    Male     No   Sat  Dinner     4          19.2%
59        48.27   6.73    Male     No   Sat  Dinner     4          13.9%
141       34.30   6.70    Male     No  Thur   Lunch     6          19.5%
..          ...    ...     ...    ...   ...     ...   ...            ...
0         16.99   1.01  Female     No   Sun  Dinner     2           5.9%
236       12.60   1.00    Male    Yes   Sat  Dinner     2           7.9%
111        7.25   1.00  Female     No   Sat  Dinner     1          13.8%
67         3.07   1.00  Female    Yes   Sat  Dinner     1          32.6%
92         5.75   1.00  Female    Yes   Fri  Dinner     2          17.4%

[244 rows x 8 columns]

In [19]:
#виведіть топ-5 найбільших чайових використовуючи метод nlargest
tips_dataset.nlargest(5, 'tip')

     total_bill    tip   sex smoker   day    time  size tip_percentage
170       50.81  10.00  Male    Yes   Sat  Dinner     3          19.7%
212       48.33   9.00  Male     No   Sat  Dinner     4          18.6%
23        39.42   7.58  Male     No   Sat  Dinner     4          19.2%
59        48.27   6.73  Male     No   Sat  Dinner     4          13.9%
141       34.30   6.70  Male     No  Thur   Lunch     6          19.5%